<html>
<head><meta charset="utf-8"></head>
<body>
{{my_jss.id}} 번째 글

<br>

제목 : {{my_jss.title}}

<br>

내용 : {{my_jss.content}}

<br>

생성시간 : {{my_jss.update_at | date:"Y-m-d"}}

<br>
<!-- user와 작성자의 이름이 같을 경우 수정버튼 보이도록 설정 -->
{% if user == my_jss.author  %}
    <a href="{% url 'update' my_jss.id %}"><button>수정</button></a>
    <a href="{% url 'delete' my_jss.id %}"><button>삭제</button></a>
{% endif %}
<br>

<!-- 인증 된 유저일 시 코멘트 작성 가능 -->
{% if user.is_authenticated %}
<form method="POST" action="{% url 'create_comment' my_jss.id %}">
    {% csrf_token %}
    {{comment_form}}
    <input type="submit" value="확인">
</form>
{% endif %}
<!-- 해당 my_jss의 id에 맞는 comment 를 모두 가져옴 -->
{% for comment in my_jss.comment_set.all %} 
    <p>{{comment.author}} 💨 {{comment.content}}</p>
    {% if user == comment.author %}
        <a href="{% url 'delete_comment' my_jss.id comment.id %}">
        <button>삭제</button>
        </a>
    {% endif %} 
{% endfor %} 
</body>
</html>
